<% provide(:title, 'About') %>
<h1>About Us</h1> 
<p>
This website is developed by 
<a href="http://huayang.me">Huayang Guo</a> 
under the intrductoin in 
<a href="http://ruby.railstutorial.org/">Ruby on Rails Tutorial</a>
</p>

